.popup__body {
  background-color: #FFF;
  border-radius: 10px;
  max-height: 330px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  min-width: 430px;
}

@media screen and (max-width: 900px) {
  .popup__body {
    min-width: 240px;
    max-width: 282px;
    max-height: 322px;
  }
}