.popup__form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 200px;
  max-width: 430px;
}

@media screen and (max-width: 900px) {
  .popup__form {
    max-width: 282px;
  }
}