.login__span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #FFF;
    margin-top: 15px;
    transform: opacity 0.4s;
}

.login__span:hover {
    opacity: 0.6;
}